<!DOCTYPE html>
<html>
  <head>
    <title>stisiv</title>
    <link rel="stylesheet" href="styles/bootstrap.min.css" />
    <link rel="stylesheet" href="styles/main.css" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  </head>
  <body>
    <div id="wrap">
      <div id="main" class="clear-top">
        <%- yield %>
      </div>
    </div>
    <footer class="footer">
      <ul class="list-inline text-center">
        <li><a href="https://twitter.com/stisiv"><i class="fa fa-2x fa-twitter"></i></a></li>
        <li><a href="https://github.com/stisiv"><i class="fa fa-2x fa-github"></i></a></li>
      </ul>
      <p class="text-center">Heavily inspired by themes on <a href="http://html5up.net/">http://html5up.net/</a></p>
    </footer>
    <img style="visibility: hidden" src="//stisiv.herokuapp.com/images/tdk9d5ve2lgi7ldi.gif" alt="stisiv analytics" />
  </body>
</html>
