<header class="jumbotron text-center">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1>Stisiv</h1>
        <p class="lead">Track visits to your site simply with an &lt;img&gt;</p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-2 col-md-offset-4">
        <button class="btn btn-lg btn-block btn-default">Sign Up</button>
      </div>
      <div class="col-xs-12 col-md-2">
        <button class="btn btn-lg btn-block btn-hollow">Log In</button>
      </div>
    </div>
  </div>
</header>

<div class="container">
  <div class="panel panel-default intro">
    <div class="panel-body text-center no-padding">
      <h1>The easiest way to track visits to your website</h1>
      <p class="lead">Turns out a 1x1 pixel image is all you really need <br/> to see how many visits your site gets.</p>
      <img src="images/macbook.jpg" alt="macbook and iphone on desk" class="img-responsive" />
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-body text-center box">
      <div class="row">
        <div class="col-md-6 border-bottom section-top section-left">
          <span class="fa-stack fa-3x">
            <i class="fa fa-circle fa-stack-2x icon-warm"></i>
            <i class="fa fa-bolt fa-stack-1x fa-inverse"></i>
          </span>
          <h3>Super Quick</h3>
          <p class="lead">
            The small file size (35 bytes) makes every request super quick.
          </p>
        </div>
        <div class="col-md-6 border-left border-bottom section-top section-right">
          <span class="fa-stack fa-3x">
            <i class="fa fa-circle fa-stack-2x icon-muted"></i>
            <i class="fa fa-area-chart fa-stack-1x fa-inverse"></i>
          </span>
          <h3>Daily Stats</h3>
          <p class="lead">
            Keep track of your visitors with one simple chart showing daily visits.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 border-top section-bottom section-left">
          <span class="fa-stack fa-3x">
            <i class="fa fa-circle fa-stack-2x icon-cool"></i>
            <i class="fa fa-mobile-phone fa-stack-1x fa-inverse"></i>
          </span>
          <h3>Mobile</h3>
          <p class="lead">
            Check your stats on your phone first, desktop later.
          </p>
        </div>
        <div class="col-md-6 border-top border-left section-bottom section-right" style="border-bottom: none; padding-bottom: 0; margin-bottom: 0">
          <span class="fa-stack fa-3x">
            <i class="fa fa-circle fa-stack-2x icon-envy"></i>
            <i class="fa fa-cloud fa-stack-1x fa-inverse"></i>
          </span>
          <h3>Asynchronous</h3>
          <p class="lead">
            &lt;img&gt; tags load asynchronously by default, no more weird javascript hacks.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="jumbotron text-center">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2>Sign up and track 5 sites for free</h2>
        <p>Track visits to your site simply with an &lt;img&gt;</p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-2 col-md-offset-5">
        <button class="btn btn-lg btn-block btn-hollow">Sign Up</button>
      </div>
    </div>
  </div>
</section>
