.intro {
  margin-top: -10em;
  background-color: #fff;
  border: none;
  color: #777;

  h1 {
    font-weight: 300;
    margin-top: 1.5em;
  }

  p {
    display: inline-block;
    border-top: solid 2px #e5e5e5;
    margin: 1.5em 0 0 0;
    padding: 1.5em 0;
    font-style: normal;
  }

  img {
    border-radius: 0 0 4px 4px;
  }
}

.box {
  padding: 52px;
}

@media (min-width: 767px) {
  .border-left {
    border-left: solid 2px $border;
  }

  .border-right {
    border-right: solid 2px $border;
  }

  .border-bottom {
    border-bottom: solid 2px $border;
    padding: 0;
  }

  .section-top {
    padding-bottom: 52px;
  }

  .section-left {
    padding-right: 52px;
  }

  .section-right {
    padding-left: 52px;
  }

  .section-bottom {
    padding-top: 52px;
  }
}

@media (max-width: 767px) {
  .border-bottom {
    border-bottom: solid 2px $border;
    margin-bottom: 52px;
    padding-bottom: 26px;
  }

  .border-top {
    border-bottom: solid 2px $border;
    margin-bottom: 52px;
    padding-bottom: 26px;
  }
}

section.jumbotron {
  padding-top: 20px;
  background-color: $warm;
  color: #fff;
}
