header.jumbotron {
  color: #fff;
  background: url(../images/bg.png);
  background-color: $cool;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  padding: 10em 0 18em 0;

  h1 {
    font-weight: 300;
  }

  p {
    font-size: 28px;
  }

  button {
    color: #777;
  }
}
