header.jumbotron {
  color: #fff;
  background-color: $cool;
  background-position: top left, center center;
  background-repeat: repeat, no-repeat;
  background-size: auto, cover;
  padding: 10em 0 18em 0;

  h1 {
    font-weight: 300;
  }

  p {
    font-size: 28px;
  }

  button {
    color: #777;
  }
}
