.face {
  width: 120px;
  vertical-align: middle;
}

.no-padding {
  padding: 0;
}

.icon-warm {
  color: $warm;
}

.icon-cool {
  color: $cool;
}

.icon-envy {
  color: $envy;
}

.icon-muted {
  color: $muted;
}

.border-right {
  border-right: solid 2px $border;
}

.border-bottom {
  border-bottom: solid 2px $border;
}

.border-left {
  border-left: solid 2px $border;
}
